<ion-view view-title="Intro">
  <ion-content>
   <div>
     <a href="#start" ng-click="lol()">
       <img src="img/ourson.png" height=400 width=400>

     </a>

    </div>



<!--
    <button class="button" ng-click="play('http://www.stephaniequinn.com/Music/Commercial%20DEMO%20-%2013.mp3')">Play from internet</button>


    <button class="button" ng-click="play('chansons/ourson.mp3')">Play from file system</button>



    <button class="button" ng-click="play('www/chansons/ourson.mp3')">Play from file system</button>



    <button class="button" ng-click="play('/android_asset/www/chansons/ourson.mp3')">Play from file system</button>-->



  </ion-content>
</ion-view>